[popover]:popover-open {
    section.bookingentry {
        width: 30rem;
        height: 34rem;
        gap: 0 1rem;
    }

    span {
        font-size: 0.6rem;
        color: $error_color;
        margin-left: 1rem;
        visibility: hidden;
    }
}
