.headernav{
    margin: $flex_gap;
    grid-column: 1 / span 2;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;

    p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        img {
            width: 3rem;
        }
    }
}

.dashboardrows {
    display: flex;
    flex-wrap: wrap;
    gap: $flex_gap;
    margin: $flex_gap;
}

.dashboardrowcolumn1 {
    grid-column: 1;
    position: sticky;
    top: 5rem;
}

.dashboardrowcolumn2 {
    grid-column: 2;
    width: 100%
}

.dashboardbox {
    padding: 1rem;
    border: 0.15rem $dashboard_bg_color solid;
    border-radius: 1rem;

    header {
        margin: 0;
        background-color: #ffffff;

        h1 {
            font-size: 1.8rem;
            margin: 2rem 0;
        }
    }
}

.searchbox {
    width: 80%;
}

.dashboardboxlist {
    display: flex;
    gap: $flex_gap;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;

    &.sharesection {
        flex-direction: column;
    }

    h3 {
        font-size: 2rem;
        margin: 0;
    }

    li {
        padding: 1rem;
        border: 0.1rem $dashboard_bg_color solid;
        border-radius: 1rem;
        background-color: $dashboard_bg_color;
        p {
            display: flex;
            gap: 1rem;
        }
    }

    li.dbboxhighlight {
        border: 0.1rem $main_bgh_color solid;
        background-color: $main_bgh_color;
        color: #ffffff;

        button {
            @include secondbutton;
        }
    }
}

.dashboarddetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $flex_gap;

    section {
        text-align: right;

        &.deliquent {
            color: #fc6464
        }
    }

    sub {
        color: #a09f9f;
    }


}

.buttongroup {
    display: flex;
    justify-content: space-between;

    .delete {
        @include secondbutton;
    }
}

@mixin labelmargin {
    margin: 1rem 0 0.5rem 0;
}

.form {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    section {
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        label {
            @include labelmargin();
            font-size: 0.8rem;
        }
        
        p {
            display: flex;
            justify-content: space-between;

            button.cancel {
                @include secondbutton;
            }
        }

        .tickbox {
            @include labelmargin();
            display: flex;
            gap: 1rem;

            label, input {
                margin: 0
            }
        }
    }
    
}