$flex_gap: 1rem;
$dashboard_bg_color: #f8f8f8;
$main_bgh_color: #bda0e2;
$error_color: #cf2626;
$positive_color: #448d4e;
$inactive_color: #a09f9f;

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@mixin commonspace {
    padding: 0.4rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid;
}

@mixin mainbutton {
    @include commonspace;
    border-style: none;
    background-color: $main_bgh_color;
    color: #ffffff;
}

@mixin secondbutton {
    background-color: $dashboard_bg_color;
    color: #000000;
}

main {
    display: grid;
    grid-template-columns: 0.5fr 20fr 0.5fr;
}

main > * {
    grid-column: 2;
}

.App {
    display: grid;
    grid-template-columns: 6fr 4.3fr;
    align-items: start;

    button {
        @include mainbutton;
        cursor: pointer;
    }
    
    input {
        @include commonspace;
        padding: 0.6rem 1rem;
    }
}

@import "src/pages/Dashboard.scss";
@import "src/features/EarningsSection.scss";
@import "src/features/NetIncomeChart.scss";
@import "src/components/popovers/booking/BookingForm.scss";
